/*Common*/
* {
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  position: relative;
  margin: 40px 0 60px 0 !important;
}
table {
  margin-top: 20px;
}

/*Dashbaord*/
h1:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.sidebar-wrapper {
}
.page-content-wrapper {
}

.xs {
  width: 50 !important;
}
