/*Common*/
* {
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  position: relative;
  margin: 40px 0 60px 0 !important;
}

h4 {
  position: relative;
  margin: 0px 0 20px 0 !important;
}

table {
  margin-top: 20px;
}

.orangeButton {
  background-color: #fd7607 !important;
  border: thin #fd7607 solid !important;
}
.blueButton {
  background-color: #3281a6 !important;
  border: none !important;
}

a#nav-dropdown.dropdown-toggle.show.nav-link {
  background-color: #3281a6 !important;
  color: #fff !important;
}
.nav-link {
  color: #017296 !important;
}

a.dropdown-item.active {
  background-color: #3281a6 !important;
}

.nav-link.active {
  color: #fff !important;
  background-color: #3281a6 !important;
}

.card-title {
  font-size: 17px !important;
}

/*Dashbaord*/
h1:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  bottom: -20px;
  left: 0;
}

#cardText {
  color: #fff;
  height: 5rem;
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.3s;
}
#cardText:hover {
  font-size: 40px;
  color: #fff;
}

#studentCard_dash {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #ffc96c;
  justify-content: center;
  color: #cd8200;
  transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s,
    font-size 0.3s, color 0.3s;
}

#studentCard_dash:hover {
  box-shadow: 0 0 7px #dadada;
  background-color: #fcb740;
  color: #393939;
}

#courseCard_dash {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #89c3de;
  justify-content: center;
  color: #3281a6;
  transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s,
    font-size 0.3s, color 0.3s;
}

#courseCard_dash:hover {
  box-shadow: 0 0 7px #bbbbbb;
  background-color: #59a7ca;
  color: #393939;
}

#assessmentCard_dash {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #d99280;
  color: #a8503a;
  transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s,
    font-size 0.3s, color 0.3s;
}

#assessmentCard_dash:hover {
  box-shadow: 0 0 7px #dadada;
  background-color: #d4816c;
  color: #393939;
}

/*LOGIN*/
#loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* text-align: center; */
}

#loginForm {
  width: 20em;
}

#signupForm {
  width: 25em;
}

.landingContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.left_slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
